* {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  td {
    width: 70px;
    height: 70px;
    border: 5px solid black;
    cursor: pointer;
  }
  
  td.lit {
    background-color: yellow;
  }
  
  #game-board {
    display: flex;
    min-height: 60vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
  }
  
  footer {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #000000;
    padding: 10px;
  }
  
  p, h3, strong, a {
    background-color: #f0f0f0;
  }
  
  strong {
    color: #ff0000;
  }
  
  p {
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a:hover {
    color: #ff0000;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}  
